* {
  margin: 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
}
.delete {
  opacity: 0;
  transition: opacity 0.5s;
}
.invisible {
  display: none;
}

header {
  background-color: rgb(29, 30, 30);
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: aliceblue;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(67, 67, 73);
  justify-content: flex-end;
  padding: 20px;
  flex-wrap: no-wrap;
}
nav label,
input,
button {
  margin-left: 5px;
}

.content-principal {
  display: flex;
  /*Elementos dentro se comportan como filas*/
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
}
.content-principal section {
  display: flex;
  width: 50%;
  justify-content: center;
  background-color: rgba(171, 218, 130, 0.388);
  align-items: center;
}
.content-principal table,
td,
th {
  background-color: rgb(179, 175, 175);
  border: 1px solid black;
  border-collapse: collapse;
  height: 30px;
  padding: 3px;
}

.content-principal aside {
  display: flex;
  /*Al ser una columna el eje principal se da vuelta y
   pasa a ser vertical justify-content y align-items horizontal
   align-content sirve para alinear los objetos segun el sentido del flex direction
  */
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgb(130, 124, 124);
}
.content-principal aside h2 {
  font-size: 15px;
  padding-bottom: 10px;
}
.content-principal aside form {
  text-align: center;
  font-size: 12px;
  padding: 5px;
  border: 1px solid black;
}
.content-principal aside form label,
input {
  float: left;
  outline: none;
}
.content-principal aside button {
  margin-top: 5px;
  font-size: 11px;
}

footer {
  text-align: center;
  background-color: rgb(48, 49, 48);
  height: 50px;
  line-height: 50px;
  color: aliceblue;
}

#alert {
  margin-top: 5px;
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {
  .content-principal {
    display: flex;
    height: 600px;
    flex-direction: column;
  }
  .content-principal section {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
  }
  .content-principal aside {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
  }
  nav {
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
  }
  nav label,
  input,
  button {
    font-size: 10px;
    margin-left: 5px;
  }
  header h1 {
    font-size: 15px;
  }
  .content-principal table,
  td,
  th {
    height: 20px;
  }
}
